@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300");

.wrapper {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
   height: 100vh;
   display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */

  /* margin-top: -200px; */
  overflow: hidden;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10%;
   width: 400px;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

.form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.form input {
  display: block;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(255,255,255,0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: white;
  transition: 0.25s;
}

.form input:hover {
  background: rgba(255,255,255,0.4);
}

.form input:focus {
  background: white;
  color: #53e3a6;
  width: 300px;
}

.form button {
  background: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.25s;
}

.form button:hover {
  background: rgb(245,247,249);
}

/* bubbles */

.bgBubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bgBubbles li {
  position: absolute;
  list-style: none;
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.15);
  bottom: -160px;
  animation: square 25s infinite linear;
}

.bgBubbles li:nth-child(1){ left:10%;}
.bgBubbles li:nth-child(2){ left:20%; width:80px; height:80px; animation-duration:17s;}
.bgBubbles li:nth-child(3){ left:25%;}
.bgBubbles li:nth-child(4){ left:40%; width:60px; height:60px; animation-duration:22s;}
.bgBubbles li:nth-child(5){ left:70%;}
.bgBubbles li:nth-child(6){ left:80%; width:120px; height:120px;}
.bgBubbles li:nth-child(7){ left:32%; width:160px; height:160px;}
.bgBubbles li:nth-child(8){ left:55%; width:20px; height:20px; animation-duration:40s;}
.bgBubbles li:nth-child(9){ left:25%; width:10px; height:10px; animation-duration:40s;}
.bgBubbles li:nth-child(10){ left:90%; width:160px; height:160px;}

@keyframes square {
  0% { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
